$prim-font: "Source Sans Pro", sans-serif;

$bgc-page: #fdfdfd;

$prim-color: #00a11e;
$sec-color: rgba(0, 161, 30, 0.07);

$text: #282136;
$text-dark: #3D374A;
$text-gray: #5B5E77;

// media
$xs: 576px;
