<template>
  <div class="modal-layout"
       @click="layoutClick"
  >
    <div class="modal"
         ref="modal"
    >
      <p>
        Are you sure you want to <b>delete <span v-if="quantity > 1">{{quantity}}</span> item<span v-if="quantity > 1">s</span></b>?
      </p>
      <div class="actions">
        <v-btn border
               :disabled="loading"
               @click.stop="accept(false)"
        >Cansel</v-btn>
        <v-btn active
               :loading="loading"
               :disabled="loading"
               @click.stop="accept(true)"
        >Confirm</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
  import VBtn from '@/components/utility/VBtn';
  import {mapGetters} from 'vuex';

  export default {
    name: "Modal",
    components: {
      VBtn
    },
    props: {
      quantity: {
        default: 1
      },
      elem: {
        default: null
      }
    },
    computed: {
      ...mapGetters('common', {
        loading: 'LOADING'
      })
    },
    methods: {
      accept(val) {
        this.$emit('confirm', val);
      },
      layoutClick() {
        this.$refs.modal.classList.remove('modal-animated');
        window.setTimeout(() => {
          this.$refs.modal.classList.add('modal-animated');
        }, 10);

      }
    },
    mounted() {
      let parent = this.elem.getBoundingClientRect();
      let clientY = document.documentElement.clientHeight;
      let clientX = document.documentElement.clientWidth;
      this.$refs.modal.style.top = (parent.bottom + 120 < clientY)
                                    ? parent.bottom + 5 + 'px'
                                    : parent.top - 125 + 'px';
      this.$refs.modal.style.left = parent.left + parent.width / 2 + 'px';
      this.$refs.modal.style.transform = (parent.right + 60 < clientX)
                                    ? `translateX(-50%)`
                                    : `translateX(-100%)`;

    }
  }
</script>

<style lang="scss" scoped>
  .modal-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
  }
  .modal {
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 16px;
    position: absolute;
    p {
      text-align: center;
      padding: 0;
      margin: 0 0 12px;
    }
  }
  .actions {
    display: flex;
    justify-content: center;
    .v-btn {
      margin: 0 8px;
    }
  }
  .modal-animated {
    animation: blink 0.3s linear 0s 3;
  }
  @keyframes blink {
    0%, 100% {
      background-color: #ffffff;
    }
    50% {
      background-color: darken(#ffffff, 10);
    }
  }
</style>