<template>
  <div class="table-wrap">
    <div class="head">
      <div class="head__sorting">
        <span>Sorting by:</span>
        <div class="sorting-cell">
          <v-btn v-for="(value, name) in headList"
                 :key="name"
                 ref="sortingByBtn"
                 v-if="selectedColumns.indexOf(name) !== -1"
                 @click="setFirstColumn(name, $event)"
          >{{value}}</v-btn>
        </div>
      </div>
      <div class="head__action top-action">
        <v-btn border
               class="top-action__item"
               :disabled="selectedProductsCount <= 0"
               :active="selectedProductsCount > 0"
               @click="deleteAllSelected"
               ref="deleteAll"
        >
          <span>Delete</span>
          <span v-if="selectedProductsCount > 0"> ({{selectedProductsCount}})</span>
        </v-btn>
        <v-select id="per-page"
                  class="top-action__item"
                  :values="perPageArray"
                  :options="perPageArray.map(item => `${item} Per Page`)"
                  @change="changePerPage"
        ></v-select>
        <div class="paginate top-action__item">
          <v-btn border
                 class="prev"
                 @click="changePage(-1)"
                 :disabled="page.num <= 1"
          ></v-btn>
          <span class="bold">{{rowsFromTo.from}}-{{rowsFromTo.to}} </span>
          <span> of </span>
          <span class="bold"> {{totalProduct}}</span>
          <v-btn border
                 class="next"
                 @click="changePage(1)"
                 :disabled="page.num >= totalPage"
          ></v-btn>
        </div>
        <v-select id="table-columns"
                  class="top-action__item"
                  :values="Object.keys(headList)"
                  :options="Object.values(headList)"
                  multiple
                  @change="changeSelectColumns"
        ></v-select>
      </div>
    </div>
    <v-table :products_data="productsRows"
             :head="headList"
             :visible_cols="selectedColumns"
             :first_col="firstColumn"
    ></v-table>
    <modal :quantity="selectedProductsCount"
           :elem="modalDelete.elem"
           v-if="modalDelete.isVisible"
           @confirm="acceptDeleteAllSelected"
    ></modal>
  </div>
</template>

<script>
  import VBtn from '@/components/utility/VBtn';
  import VSelect from '@/components/utility/VSelect';
  import VSpinner from '@/components/utility/VSpinner';
  import VTable from '@/components/VTable';
  import Modal from '@/components/Modal';
  import {mapGetters} from 'vuex'

  export default {
    name: "TableWrapper",
    components: {
      VBtn,
      VSelect,
      VSpinner,
      VTable,
      Modal
    },
    data() {
      return {
        headList: {
          product: 'Product (100g serving)',
          calories: 'Calories',
          fat: 'Fat (g)',
          carbs: 'Carbs (g)',
          protein: 'Protein (g)',
          iron: 'Iron (%)'
        },
        perPageArray: [10, 15, 20],
        page: {
          perPage: 10,
          num: 1
        },
        selectedColumns: [],
        firstColumn: 'product',
        modalDelete: {
          elem: null,
          isVisible: false
        }
      }
    },
    computed: {
      ...mapGetters('products', {
        products: 'PRODUCTS'
      }),
      totalProduct() {
        return this.products.length;
      },
      selectedProductsCount() {
        return this.$store.getters['products/SELECTED_PRODUCTS'].length;
      },
      totalPage() {
        return Math.ceil(this.totalProduct / this.page.perPage);
      },
      rowsFromTo() {
        let from = (this.page.num - 1) * this.page.perPage + 1;
        let to = (from + this.page.perPage - 1) < this.totalProduct
                  ? from + this.page.perPage - 1
                  : this.totalProduct;
        return {from, to};
      },
      productsRows() {
        return this.products.slice(this.rowsFromTo.from - 1, this.rowsFromTo.to);
      }
    },
    methods: {
      setFirstColumn(name, e) {
        this.$refs.sortingByBtn.forEach((item) => {
          item.$el.classList.toggle('v-btn--active', false)
        });
        e.target.classList.add('v-btn--active');
        this.firstColumn = name;
      },
      deleteAllSelected() {
        this.modalDelete.isVisible = true;
      },
      acceptDeleteAllSelected(val) {
        if(val) {
          this.$store.dispatch('products/DELETE_PRODUCTS', this.modalDelete.candidate)
            .finally(() => this.modalDelete.isVisible = false);
        } else {
          this.modalDelete.isVisible = false;
        }
      },
      changePerPage(val) {
        let from = this.rowsFromTo.from;
        this.page.num = Math.ceil(from / val);
        this.page.perPage = val;
      },
      changePage(val) {
        let newPage = this.page.num + val;
        if(newPage < 1 || newPage > this.totalPage) return false;
        this.page.num = newPage;
      },
      changeSelectColumns(columns) {
        this.selectedColumns = columns;
      }
    },
    mounted() {
      this.selectedColumns = Object.keys(this.headList);
      this.modalDelete.elem = this.$refs.deleteAll.$el;
      this.$store.dispatch('products/GET_PRODUCTS');
    }
  }
</script>

<style lang="scss">
  @import '@/assets/style/variables.scss';

  .table-wrap {
    padding-top: 17px;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .sorting-cell {
    margin-right: auto;
    display: flex;
    @media(max-width: $xs) {
      flex-direction: column;
    }
    .v-btn {
      padding: 0 8px;
    }
  }

  .paginate {
    display: flex;
    align-items: center;
    .v-btn {
      width: 32px;
      height: 32px;
      position: relative;
      margin: 0 6px;
      &::before {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 0;
        left: 0;
        font-weight: bold;
        font-size: 21px;
        color: #333333;
      }
      &.prev::before {
        content: '\2039';
      }
      &.next::before {
        content: '\203A';
      }
      &--disabled::before {
        color: #C6CBD4;
      }
    }
  }
  .head {
    &__sorting {
      display: flex;
      align-items: center;
      @media(max-width: $xs) {
        flex-direction: column;
      }
    }
    &__action {
      display: flex;
      justify-content: space-between;
      @media(max-width: $xs) {
        flex-direction: column;
        padding-right: 10px;
        align-items: flex-end;
      }
    }
  }
  .top-action {
    &__item {
      margin: 0 6px;
      @media(max-width: $xs) {
        margin: 6px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .bold {
    font-weight: 600;
    padding: 0 2px;
  }
</style>