<template>
  <div class="v-table">
    <table v-if="columns.length > 0">
      <thead>
        <tr>
          <th class="checkbox-col">
            <div class="option-checkbox" @click.stop="selectAllRows($event)">
              <input type="checkbox" id="select-all-table" ref="checkAll">
              <label for="select-all-table" @click.stop></label>
            </div>
          </th>
          <th v-for="(col, index) in columns"
              :key="index"
              :class="`${col}-col`"
              @click="sort(col, $event)"
          >
            <span :class="{'asc': sortDirection < 0}">{{head[col]}}</span>
          </th>
          <th class="delete-col"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="loading">
          <td :colspan="columns.length + 2" height="60">
            <v-spinner></v-spinner>
          </td>
        </tr>
        <tr v-for="product in products_data"
            :key="product.id"
        >
          <td class="checkbox-col"
              @click.stop="toggleCheck(product.id, $event)"
          >
            <div class="option-checkbox">
              <input type="checkbox"
                     :id="`${product.id}`"
                     :checked="selectedProducts.indexOf(product.id) !== -1"
              >
              <label :for="`${product.id}`" @click.stop></label>
            </div>
          </td>
          <td v-for="(col, index) in columns"
              :key="index"
              :class="{'product-col': col === 'product'}"
          >{{product[col]}}</td>
          <td class="delete-col"
              @click="deleteItem(product.id, $event)"
          >
            <div class="delete-cell">delete</div>
          </td>
        </tr>
      </tbody>
    </table>
    <modal v-if="modalDelete.isVisible"
           :elem="modalDelete.elem"
           @confirm="acceptDelete"
    ></modal>
  </div>
</template>

<script>
  import VSpinner from '@/components/utility/VSpinner';
  import Modal from '@/components/Modal';
  import {mapGetters} from 'vuex';

  export default {
    name: "VTable",
    components: {
      VSpinner,
      Modal
    },
    props: {
      products_data: {
        type: Array,
        default: () => {
          return [];
        }
      },
      head: {
        type: Object,
        required: true,
        default: () => {
          return {};
        }
      },
      visible_cols: {
        type: Array,
        default: () => {
          return [];
        }
      },
      first_col: {
        type: String
      },
    },
    data() {
      return {
        sortDirection: 1, // next sort direction 1: a->z, -1: z->a
        modalDelete: {
          isVisible: false,
          elem: null,
          candidate: null
        }
      }
    },
    computed: {
      ...mapGetters('products', {
        selectedProducts: 'SELECTED_PRODUCTS'
      }),
      ...mapGetters('common', {
        loading: 'LOADING_STATE'
      }),
      columns() { // arr with first column name === selected
        this.sortDirection = 1; // reset next sort direction
        let arr = [...this.visible_cols];
        let i = arr.indexOf(this.first_col);
        arr.unshift(...arr.splice(i, 1));
        return arr;
      }
    },
    methods: {
      sort(col, e) {
        if(col === this.first_col) {
          this.$store.dispatch('products/SORT_PRODUCTS', {col, dir: this.sortDirection});
          e.currentTarget.classList.add('sort-col');
          this.sortDirection = -this.sortDirection;
        }
      },
      toggleCheck(id, e) {
        if(e.target.checked) {
          this.$refs.checkAll.checked = true;
          this.$store.dispatch('products/SELECT_PRODUCT', id);
        } else {
          this.$store.dispatch('products/UNSELECT_PRODUCT', id);
          for(let i = 0; i < this.products_data.length; i++) { // для отключения чекбокса в шапке таблицы
            if(this.selectedProducts.indexOf(this.products_data[i].id) !== -1) {
              return false;
            }
          }
          this.$refs.checkAll.checked = false;
        }
      },
      selectAllRows(e) {
        this.products_data.forEach(item => {
          this.toggleCheck(item.id, e);
        });
      },
      deleteItem(id, e) {
        this.modalDelete.candidate = id;
        this.modalDelete.elem = e.target;
        this.modalDelete.isVisible = true;
      },
      acceptDelete(val) {
        if(val) {
          this.$store.dispatch('products/DELETE_PRODUCTS', this.modalDelete.candidate)
            .finally(() => this.modalDelete.isVisible = false);
        } else {
          this.modalDelete.isVisible = false;
        }

      }
    },
    watch: {
      products_data() { // для контроля чекбокса в шапке таблицы
        for(let i = 0; i < this.products_data.length; i++) {
          if(this.selectedProducts.indexOf(this.products_data[i].id) !== -1) {
            this.$refs.checkAll.checked = true;
            return false;
          }
        }
        this.$refs.checkAll.checked = false;
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '@/assets/style/variables.scss';

  .v-table {
    margin-top: 15px;
    overflow: auto;
  }
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    cursor: pointer;
    th {
      padding: 5px 10px;
      text-align: left;
      border-bottom: 1px solid #ededed;
      width: 135px;
    }
    td {
      padding: 5px 10px;
      width: 135px;
    }
    tbody {
      tr {
        &:nth-child(2n) {
          background-color: #f8f9fa;
        }
        &:hover {
          background-color: $sec-color;
          .delete-cell {
            display: block;
          }
        }
      }
    }
  }
  .checkbox-col {
    width: 43px;
    padding-left: 20px;
  }
  .delete-col {
    width: 80px;
  }
  .product-col {
    width: 170px;
  }
  .sort-col {
    color: $prim-color;
    span {
      position: relative;
      &::after {
        content: '';
        width: 8px;
        height: 18px;
        background: url('../assets/img/sortArrow.svg') no-repeat center;
        position: absolute;
        right: -15px;
      }
    }
    .asc {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  .delete-cell {
    position: relative;
    color: $text-gray;
    margin-left: 20px;
    display: none;
    &::before {
      content: '';
      position: absolute;
      left: -20px;
      width: 16px;
      height: 16px;
      background: url("../assets/img/trash.svg") no-repeat center;
    }
  }
</style>