<template>
  <div id="app" class="container">
    <h1 class="header">Table UI</h1>
    <table-wrapper></table-wrapper>
    <v-snackbar :error="!!error"
                v-if="!!error || !!message"
    >
      {{error || message}}
    </v-snackbar>
  </div>
</template>

<script>
import TableWrapper from './components/TableWrapper';
import VSnackbar from './components/utility/VSnackbar';
import {mapGetters} from 'vuex';

export default {
  name: 'App',
  components: {
    TableWrapper,
    VSnackbar
  },
  computed: {
    ...mapGetters('common', {
      message: 'MESSAGE_SUCCESS',
      error: 'MESSAGE_ERROR'
    })
  }
}
</script>

<style lang="scss">
  /* source-sans-pro-regular - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url('./assets/fonts/source-sans-pro-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/source-sans-pro-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* source-sans-pro-600 - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
    url('./assets/fonts/source-sans-pro-v13-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/source-sans-pro-v13-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @import '@/assets/style/variables.scss';

  body, html {
    margin: 0;
    padding: 0;
    background-color: $bgc-page;
    font-size: 14px;
    color: $text;
  }

  #app {
    font-family: $prim-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .header {
    margin: 0;
    padding: 32px 0 16px;
    font-size: 32px;
    font-weight: 600;
    border-bottom: 1px solid #ededed;
  }
</style>
