<template>
  <button
          @click.stop="click($event)"
          :class="[
                    'v-btn',
                    active ? activeClass : '',
                    border ? 'v-btn--border' : '',
                    disabled ? 'v-btn--disabled' : ''
                    ]"
          :disabled="disabled"
  >
    <slot></slot>
    <v-spinner v-if="loading"
               size="23"
               :width="2"
               class="v-btn__loading"
               button
    ></v-spinner>
  </button>
</template>

<script>
  import VSpinner from '@/components/utility/VSpinner';

  export default {
    name: "VBtn",
    components: {
      VSpinner
    },
    props: {
      activeClass: {
        default: 'v-btn--active'
      },
      active: Boolean,
      border: Boolean,
      disabled: Boolean,
      loading: Boolean
    },
    methods: {
      click(e) {
        this.$emit('click', e);
      }
    }
  }
</script>

<style lang="scss">
  @import '@/assets/style/variables.scss';

  .v-btn {
    position: relative;
    font-size: 1rem;
    font-family: $prim-font;
    color: $text;
    box-sizing: border-box;
    height: 32px;
    cursor: pointer;
    padding: 0 15px;
    border: none;
    border-radius: 2px;
    background: $bgc-page;
    &:hover {
      background: darken(#ffffff, 3);
    }
    &--border {
      border: 1px solid #D5DAE0;

    }
    &--disabled {
      color: #C6CBD4;
      cursor: auto;
      &:hover {
        background: $bgc-page;
      }
    }
    &--active {
      background: $prim-color;
      color: #ffffff;
      border: none;
      &:hover {
        background: darken($prim-color, 2);
      }
    }
    &__loading {
      position: absolute;
      top: 0;
      left: 0;
    }
    &:focus {
      outline: none
    }
  }
</style>