<template>
  <div class="dropdown">
    <v-btn border
           @click="drop"
           class="dropdown_title"
    >{{activeOption}}</v-btn>
    <ul class="dropdown_dropbox"
        ref="dropbox"
    >
      <li v-if="multiple"
          @click.stop="selectAll"
          class="dropdown_option dropdown_option--multiple"
      >
        <div class="option-checkbox">
          <input type="checkbox" :id="`select-all-${id}`" checked ref="checkboxAll">
          <label :for="`select-all-${id}`" @click.stop>Select All</label>
        </div>
      </li>
      <li v-for="(value, index) in values"
          :key="index"
          @click.stop="multiple ? selectOption(value, $event) : changeOption(index)"
          class="dropdown_option"
          :class="{'dropdown_option--multiple': multiple}"
      >
        <div class="option-checkbox" v-if="multiple">
          <input type="checkbox" :id="`${value}${index}`" checked ref="checkboxOne">
          <label :for="`${value}${index}`" @click.stop>{{options[index]}}</label>
        </div>
        <span v-else>{{options[index]}}</span>
      </li>
    </ul>
  </div>
</template>

<script>
  import VBtn from '@/components/utility/VBtn';

  export default {
    name: "VSelect",
    components: {
      VBtn
    },
    props: {
      id: {
        required: true
      },
      options: {
        type: Array,
        required: true
      },
      values: {
        type: Array,
        required: true
      },
      multiple: {
        type: Boolean
      }
    },
    data() {
      return {
        activeOption: null,
        checkedOptions: []
      }
    },
    computed: {
      selectedCount() {
        return this.checkedOptions.length;
      }
    },
    methods: {
      drop() {
        this.$refs.dropbox.classList.toggle('dropdown_dropbox--active');
      },
      changeOption(i) {
        this.activeOption = this.options[i];
        this.$refs.dropbox.classList.remove('dropdown_dropbox--active');
        this.$emit('change', this.values[i]);
      },
      selectOption(value, e) {
        if(e.target.checked) {
          this.checkedOptions.push(value);
        } else {
          let index = this.checkedOptions.indexOf(value);
          if(index > -1) this.checkedOptions.splice(index, 1);
        }
        this.$refs.checkboxAll.checked = this.values.length === this.checkedOptions.length;
        this.activeOption = `${this.selectedCount} columns selected`;
        this.$emit('change', this.checkedOptions);
      },
      selectAll() {
        if(this.$refs.checkboxAll.checked) {
          this.checkedOptions = this.values.slice();
          this.$refs.checkboxOne.forEach(item => item.checked = true);
        } else {
          this.checkedOptions.splice(0);
          this.$refs.checkboxOne.forEach(item => item.checked = false);
        }
        this.activeOption = `${this.selectedCount} columns selected`;
        this.$emit('change', this.checkedOptions);
      }
    },
    created() {
      if(this.multiple) {
        this.checkedOptions = this.values.slice();
      }
      this.activeOption = this.multiple ? `${this.selectedCount} columns selected`
                                        : this.options[0];
      document.addEventListener('click', () => {
        this.$refs.dropbox.classList.toggle('dropdown_dropbox--active', false);
      });
    }
  }
</script>

<style lang="scss">
  @import '@/assets/style/variables.scss';

  .dropdown {
    position: relative;
    &_title {
      padding: 0 32px 0 15px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 24px;
        width: 24px;
        background-image: url("../../assets/img/Down.svg");
        margin: 4px;
      }
    }
    &_dropbox {
      padding: 10px 0;
      background: #FFFFFF;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
      border-radius: 4px;
      position: absolute;
      z-index: 10;
      min-width: 100%;
      display: none;
      &--active {
        display: block;
      }
    }
    &_option {
      box-sizing: border-box;
      list-style: none;
      text-align: center;
      padding: 10px 0;
      cursor: pointer;
      white-space: nowrap;
      &--multiple {
        text-align: left;
        padding: 0;
        display: flex;
        align-items: center;

      }
      &:hover {
        background-color: #ededed;
      }
    }
  }

  .option-checkbox {
    width: 100%;
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      &+label {
        width: 100%;
        padding: 10px 17px;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        &::before {
          content: '';
          display: inline-block;
          width: 1em;
          height: 1em;
          border-radius: 2px;
          border: 1px solid #C6CBD4;
          margin-right: 13px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 85% 85%;
        }
      }
      &:checked {
        &+label::before {
          border-color: $prim-color;
          background-color: $prim-color;
          background-image: url('../../assets/img/Check.svg');
        }
      }
    }
  }
</style>