<template>
  <transition name="snack">
    <div v-if="isActive"
         :class="['v-snackbar', error ? 'v-snackbar--error' : 'v-snackbar--success']"
    >
      <div class="v-snackbar__content">
        <slot></slot>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: "VSnackbar",
    props: {
      timeout: {
        type: Number,
        default: 6000
      },
      error: Boolean
    },
    data () {
      return {
        isActive: false,
        activeTimeout: -1
      }
    },
    watch: {
      isActive () {
        this.setTimeout();
      }
    },
    mounted () {
      this.isActive = true;
      this.setTimeout();
    },
    methods: {
      setTimeout () {
        window.clearTimeout(this.activeTimeout);

        if (this.isActive && this.timeout) {
          this.activeTimeout = window.setTimeout(() => {
            this.isActive = false;
          }, this.timeout);
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

  .v-snackbar {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 20px;
    border-radius: 4px;
    &--success {
      background-color: lighten(#258742, 40);
      color: #258742;
    }
    &--error {
      background-color: lighten(#dc3545, 30);
      color: #dc3545;
    }
  }
  .snack-enter-active,
  .snack-leave-active {
    transition: all 0.5s ease;
  }
  .snack-enter,
  .snack-leave-to {
    top: -20px;
    opacity: 0;
  }
</style>